<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>Pandas</title>
        <link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon">
        <link rel="icon" href="../static/favicon.ico" type="image/x-icon">
        <!-- CSS -->
        <link rel="stylesheet" href="../static/css/reset.css">
        <link rel="stylesheet" href="../static/css/simplegrid.css">
        <link rel="stylesheet" href="../static/css/icomoon.css">
        <link rel="stylesheet" href="../static/css/lightcase.css">
        <link rel="stylesheet" href="../static/js/owl-carousel/owl.carousel.css" />
        <link rel="stylesheet" href="../static/js/owl-carousel/owl.theme.css" />
        <link rel="stylesheet" href="../static/js/owl-carousel/owl.transitions.css" />
        <link rel="stylesheet" href="../static/style.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <!-- Google Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
             <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
             <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    </head>
        <body id="home">
            <!-- Header -->
            <header id="top-header" class="header-home">
                <div class="grid">
                    <div class="col-1-1">
                        <div class="content">
                            <div class="logo-wrap">
                                <a href="#0" class="logo">Preserve Endangered Species</a>
                            </div>
                            <nav class="navigation">
                                <input type="checkbox" id="nav-button">
                                <label for="nav-button" onclick></label>
                                <ul class="nav-container">
                                    <li><a href="#home" class="current">Home</a></li>
                                    <li><a target="_blank" href="https://datastudio.google.com/embed/reporting/e7e700c4-40d2-475b-8639-94f2f36bf762/page/gqsnC"">Dashboard</a></li>
                                    <li><a href="#search">Search</a></li>
                                    <li><a href="#gallery">Gallery</a></li>
                                    <li><a href="#team">Team</a></li>
                                    <li><a href="#citation">Citation</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </header>
            <!-- End Header -->
            <!-- Parallax Section -->
            <div class="parallax-section">
                <div class="grid grid-pad">
                    <div class="col-1-1">
                         <div class="content content-header">
                             <br>
                             <br>
                             <br>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Parallax Section -->
            <!-- Search Animal Section-->
            <div class="wrap grey recent-wrap" id="search">
                <section class="grid grid-pad">
                    <h2>Search an Animal</h2>
                    <div class="input-field">
                        <form enctype = "multipart/form-data" action = "/upload" method = "POST">
                            <input onchange="check_file()" id="file_id" type="file" name="file" accept="image/*" >
                            <p><input type="submit" id="submit_btn" value="Upload to Search" disabled></p>
                        </form>
                    </div>
                </section>
            </div>
            <div class="wrap grey recent-wrap">
                {% if loaded %}
                <h4> You searched for {{ name }}</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th><b>Taxonomy details</b></th>
                            <th><b>Detected Animal</b></th>
                        </tr>
                    </thead>
                </table>
                <div class="row">
                    <div class="column">
                        <table class="table">
                            <tbody>
                            {% for i in info.keys() %}
                            <tr>
                                <th scope="col">{{i}}</th>
                                <th scope="col">{{info.get(i)}}</th>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="column">
                        <table class="table">
                            <tbody>
                            <tr>
                                <td><img width="220%" height="140%" src="../static/images/work/lion1.jpeg"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="wrap">
                    <h6>Check out our <a target="_blank" href="https://datastudio.google.com/embed/reporting/e7e700c4-40d2-475b-8639-94f2f36bf762/page/gqsnC">dashboard</a>  for the consolidate view.</h6>
                </div>
                {% endif %}
            </div>
            <!-- End Search Animal Section-->
            <!-- Work Section -->
            <div class="wrap grey recent-wrap" id="gallery">
                <section class="grid grid-pad">
                    <h2>Gallery</h2>
                    <!-- Start of Filter section -->
                    <div class="col-1-1 mix">
                        <ul class="filters" >
                            <li class="filter active" data-filter="all">All</li>
                            <li class="filter" data-filter=".panda">PANDA</li>
                            <li class="filter" data-filter=".tiger">TIGER</li>
                            <li class="filter" data-filter=".lion">LION</li>
                            <li class="filter" data-filter=".elephant">Elephant</li>
                        </ul>
                    </div>
                    <!-- End of Filter section -->
                    <div class="portfolio-items" >
                        <div class="col-1-4 mix panda">
                            <div class="panda">
                                <div class="gallery">
                                    <img src="../static/images/work/panda1.jpeg" >
                                    <img src="../static/images/work/panda2.jpeg" >
                                    <img src="../static/images/work/panda3.jpeg" >
                                </div>
                            </div>
                        </div>
                        <div class="col-1-4 mix lion">
                            <div class="lion">
                                <div class="gallery">
                                    <img src="../static/images/work/lion1.jpeg" >
                                    <img src="../static/images/work/lion2.jpg" >
                                    <img src="../static/images/work/lion3.jpg" >
                                </div>
                            </div>
                        </div>
                        <div class="col-1-4 mix tiger">
                            <div class="tiger">
                                <div class="gallery">
                                    <img src="../static/images/work/tiger1.jpeg" >
                                    <img src="../static/images/work/tiger2.jpg" >
                                    <img src="../static/images/work/tiger3.jpg" >
                                </div>
                            </div>
                        </div>
                        <div class="col-1-4 mix elephant">
                            <div class="elephant">
                                <div class="gallery">
                                    <img src="../static/images/work/elephant1.jpg" >
                                    <img src="../static/images/work/elephant2.jpg" >
                                    <img src="../static/images/work/elephant3.jpg" >
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <!-- End Work Section -->
            <!-- Team Section -->
            <div class="wrap team-wrap grey" id="team">
                <div class="grid grid-pad">
                    <div class="content" >
                        <h2>Our Team</h2>
                        {% for name, position in users.items() %}
                        <div class="col-1-6" >
                            <div class="content staff-content">
                                <div class="recent-work staff-img">
                                    <div class="img-wrap staff-img">
                                        <img src="../static/images/team/user.jpeg" alt="">
                                        <div class="team-social">
                                            <a class="sl-fb" href="#"><i class="icon-facebook"></i></a>
                                            <a class="sl-tw" href="#"><i class="icon-twitter"></i></a>
                                            <a class="sl-gp" href="#"><i class="icon-googleplus2"></i></a>
                                            <a class="sl-ln" href="#"><i class="icon-linkedin"></i></a>
                                        </div>
                                    </div>
                                    <div class="work-info staff-info">
                                        <h5>{{ name }}</h5>
                                        <span>{{ position }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- End Team Section -->
            <!-- Footer -->
            <footer class="wrap" id="citation">
                <div class="grid grid-pad" >
                    <div class="col-1-1">
                        <div class="content">
                            <div class="footer-widget">
                                <h3>Citation :</h3>
                                <div >
                                    <p>https://ourworldindata.org/</p><br>
                                    <p>https://ourworldindata.org/mammals</p><br>
                                    <p>https://www.iucn.org/</p><br>
                                    <p>https://www.iucn.org/resources/conservation-tools/iucn-red-list-threatened-species</p><br>
                                    <p>https://www.istockphoto.com/search/2/image?alloweduse=availableforalluses&mediatype=photography&page=31&phrase=african%20elephant&sort=best</p><br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>>
            </footer>
            <!-- End Footer -->
            <!-- JS -->
            <script src="../static/js/filecheck.js"></script>
            <script src="../static/js/jquery.js"></script>
            <script src="../static/js/main.js"></script>
            <script src="../static/js/mixitup.js"></script>
            <script src="../static/js/smoothscroll.js"></script>
            <script src="../static/js/jquery.nav.js"></script>
            <script src="../static/js/owl-carousel/owl.carousel.min.js"></script>
            <script src="https://maps.googleapis.com/maps/api/js"></script>
            <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
            <script src="../static/js/jquery.counterup.min.js"></script>
            <script src="../static/js/lightcase.min.js"></script>
        </body>
</html>